<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}  {% endblock %} </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
    <script src="js/main.js"></script>
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="antialiased bg-body text-body font-body">
    <div class="">
     
    <section class="relative pb-20">
        <nav class="flex justify-between items-center py-8 px-4 xl:px-10">
            <ul class="hidden lg:flex lg:ml-auto lg:mr-12 lg:items-center lg:w-auto lg:space-x-12">
                <li><a class="text-sm font-medium" href="/login">Login</li>
            </ul>
            <div class="hidden lg:block">
                <a class="inline-block py-3 px-8 text-sm leading-normal font-medium bg-red-50 hover:bg-red-100 text-red-500 rounded transition duration-200" href="/register">Register</a>
            </div>
        </nav>

        <div id="container">

            {% block content %}
            
            
            {% endblock %} 
        
        </div>
     
    </section>
    </div>
</body>
</html>